
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

.App {
  padding-top: 80px;
  padding-bottom: 60px;
}

/* General Section Styles */
section {
  padding: 60px 20px;
  background: #f4f4f9;
}

section h1 {
  font-size: 2em;
  margin-bottom: 20px;
}